
    body {
      font-family: David, sans-serif;
      direction: rtl; 
      text-align: right;
      flex-direction: column;
      background-color:#E1EEBC}

    header {
      background-color: #67AE6E;
      color: white;
      text-align: center;
      padding: 5px;
      font-size: 45px;
      margin: 5px;
      scroll-behavior:smooth;  }

    a {
     color:black;
     text-decoration: none;}

    .hero-section{
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      flex-direction: row; 
      background-color: #67AE6E;
      margin: 30px; 
      padding: 25px;}

    #hero-section1 {
      background-image: url("רקע קרנבל");
      background-size: cover;
      background-position: center;
      max-height: 100%;}    

    #hero-section2 {
      background-image: url("רקע פסל ישו הגואל");
      background-size: cover;
      background-position: center;
      max-height: 100%;}

    #hero-section3 {
      background-image: url("רקע של חוף");
      background-position: center;
      background-size: cover;

      max-height: 100%;}
      
    #galery{
        background-size: cover;
        background-position: center;}

    .text-h2 {
      display: inline;
      font-size: 24px;
      color:green;
      margin: 10px;
      padding: 5px;
      background-color:rgba(251, 253, 251, 0.912);
      line-height: 1.5;
      text-align: right;
      justify-content: center; }
      
    .text-p {
      font-size: 24px;
       color:green;
       margin: 10px;
       background-color:rgba(251, 253, 251, 0.912);
       max-width: 300%;
       line-height: 1.5;
       text-align: right;
      padding: 10px;}

    .hero-section-img {
      margin: 16px;
      padding: 10px;
      width: 300px;
      height: 350px;
      object-fit: cover;
      justify-self: right;
      border-radius: 10px; }

    .cards-container {
        display: flex; 
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        width: 100%;
        padding: 40px;}

    .card {
        display: flex;
        max-width: 320px;
        min-height: 200px; 
        background-color: #90C67C;
        flex-direction: column; 
        border-radius: 10px;
        text-align: center;
        background-position: center;
        }


    .card-img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        text-align: center;
        justify-content: center; 
        border-radius: 10px;}

    .card-h2 {
        font-weight: bold;
        font-size: 26px;
        color:white;
        width:100%;
        padding: 5px;
        text-align: center;
        background-color:#90C67C }
        
    .card-p {
        font-size: 16px;
        color: white;
        text-align: center;
        width: 100%;
        background-color: #90C67C }

    footer {
        flex-direction:row;
        background-size: cover; 
        background-position: center;
        text-align:center;
        padding: 7px;
        margin: 16px;
        font-weight: bold;
        font-size: large;
        background-image: url("רקע של הfooter")}

    .footer-nav{
        display: inline-block;
        text-align: right;}

    a {
        color:black;
        text-decoration: none;}        
